[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
django-heroku = "*"
gunicorn = "*"
pandas = "*"
tensorflow = "*"

[requires]
python_version = "3.6"

[dev-packages]
pylint = "*"
